.classNameErrorText7 {
  width: 30%;
  color: rgb(166, 51, 201);
}

.classNameErrorText8 {
  width: 50%;
  color: rgb(209, 60, 60);
}

.redButton {
  color: red !important;
}

.greenButton {
  color: green !important;
}

.width33 {
  width: "33%";
}
